body {
  background: white;
}
p {
  color: navy;
  font-family: Brush Script MT, Lucida Handwriting, cursive;
}
h1 {
  font-family: Brush Script MT, Lucida Handwriting, cursive;
}
h2 {
  font-family: Brush Script MT, Lucida Handwriting, cursive;
}
